


.work-sans-normal{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

/* header bg img */

.header{
    background-image:url(images/developer.png),url(images/header_bg.png);
    /* background-size: 100px; */
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    font-family: Open Sans;

}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;

}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}


.text-center{
    text-align: center;
   

}







.section-discription{
    font-size: 18px;
    /* font-weight: 400; */
    color: #757575;
   
}


nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* button work for every buttn */

.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight:bold;
    color: white;
    padding: 14px 30px;
    border-radius: 5px;
    border: none;

}


/* nanner design  */
.banner-discreaption{
    color: #474747;
    
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content{
    width: 580px;
}

.banner-gree{
    font-size:25px;
    font-weight:600;

}

.banner-title{
    font-weight: bold;
    font-size: 40px;

}


.banner-profile-pic{
    width: 580px;
}


main{
    max-width:1140px;
    max-height: 550px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
    font-family: Open Sans;

   
    

}

/* about section */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
   
    
}

.about-items{
    display:flex;
    justify-content: space-around;
    color: #474747;
}

.item-description{
    font-weight: 600;
}

.skills-container{
    display: flex;
    gap: 24px;
    color: #474747;
}
.skills{
    font-family: Open Sans;
}

.skill{
    padding: 40px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  
}


/* resume section */

.resume{
    padding: 18px;
    margin-top: 30px;
    
    
}
.resume-container{
    display: flex;
    gap: 24pc;
    font-size: 30px;

}


.experence{
    font-size: 16px;
    
    /* font-weight: 400; */
    color: #757575;
}

.resume-download-cv{
    margin-top: 80px;
}

